<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02EA55C302B9614B281125CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>063848E605D10A4B47E66EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06A01F802E7C030201490931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07922F77479A0E734006596D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE3562B33E669BC6BAF4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F492B960FAA146F1D020DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>112E648B1FF253063FB64ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C1120372C09266F027C21A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>312043B212674FAA3A1B4AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42064AB8155A54C02E7A5D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42313D397F7E411209E26526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CCD3CD843F04FA228152783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9A33EF2DD23A444EAB4667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A222BA0769182A07EE2A57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E2344F30A94BDB25B33C5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD971CF74E4473B242A017D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2D5D0A417900A020E65C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E60767F2E53748F74BD4977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F820B6B521B1EAB119C1E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64C42FAA714C65EB402D5922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666C6979296E034325BA793D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9531E877F71DA55DAF28A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C85C232E1F1ACA5D780964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
